/* WELCOME */

.welcome{

padding:90px 30px;
text-align:center;
background:#faf8f2;

}


.welcome h2{

font-size:48px;
margin-bottom:30px;
font-family:'Playfair Display',serif;

}


.welcome p{

font-size:22px;
line-height:1.9;
max-width:950px;
margin:25px auto;

}


/* EXPERIENCE */

.experience{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(280px,1fr));

gap:25px;

padding:70px 30px;

background:white;

}


.experience-card{

padding:40px;

border-radius:25px;

box-shadow:0 0 25px rgba(0,0,0,.08);

text-align:center;

transition:.3s;

}


.experience-card:hover{

transform:translateY(-8px);

}


.experience-card h3{

font-size:28px;
margin-bottom:20px;
color:#17372d;

}


.experience-card p{

font-size:18px;
line-height:1.8;

}/* GALLERY */

.gallery-section{

padding:100px 30px;
background:#f5f4ef;

}

.gallery-section h2{

text-align:center;
font-size:48px;
margin-bottom:50px;
font-family:'Playfair Display',serif;

}


.gallery-grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(320px,1fr));

gap:25px;

}


.gallery-grid img{

width:100%;
height:280px;

object-fit:cover;

border-radius:25px;

cursor:pointer;

transition:.4s;

box-shadow:0 0 25px rgba(0,0,0,.12);

}


.gallery-grid img:hover{

transform:scale(1.04);

box-shadow:0 0 35px rgba(0,0,0,.2);

}/* EXPLORE */

.explore{

padding:100px 30px;
background:white;

}

.explore h2{

text-align:center;
font-size:50px;
margin-bottom:60px;
font-family:'Playfair Display',serif;

}


.explore-grid{

display:grid;
grid-template-columns:
repeat(auto-fit,minmax(280px,1fr));

gap:25px;

}


.explore-card{

background:#17372d;
color:white;

padding:40px;

border-radius:25px;

box-shadow:0 0 25px rgba(0,0,0,.1);

transition:.3s;

}


.explore-card:hover{

transform:translateY(-8px);

}


.explore-card h3{

font-size:28px;
margin-bottom:20px;

}


.explore-card p{

line-height:1.8;
font-size:18px;

}/* PHONE BUTTON */

.phone-button{

position:fixed;

right:20px;
bottom:25px;

width:70px;
height:70px;

border-radius:50%;

background:#d9b36c;

display:flex;
justify-content:center;
align-items:center;

font-size:35px;

text-decoration:none;

box-shadow:0 0 20px rgba(0,0,0,.25);

z-index:999;

transition:.3s;

}


.phone-button:hover{

transform:scale(1.1);

}/* RESERVATION */

.reservation{

padding:100px 30px;

background:#faf8f2;

text-align:center;

}


.reservation h2{

font-size:50px;

margin-bottom:30px;

font-family:'Playfair Display',serif;

}


.reservation p{

font-size:22px;

line-height:1.8;

max-width:900px;

margin:0 auto 30px auto;

}


.reservation-box{

background:white;

max-width:700px;

margin:auto;

padding:50px;

border-radius:30px;

box-shadow:0 0 30px rgba(0,0,0,.1);

}


.reservation-box h3{

font-size:55px;

color:#17372d;

margin-bottom:20px;

}


.reserve-btn{

display:inline-block;

margin-top:25px;

padding:20px 40px;

background:#d9b36c;

color:black;

text-decoration:none;

font-weight:bold;

border-radius:50px;

font-size:20px;

transition:.3s;

}


.reserve-btn:hover{

transform:scale(1.05);

}footer{

background:#0d211a;
color:white;

padding:80px 30px;

text-align:center;

line-height:2;

}

footer h2{

font-family:'Playfair Display',serif;
font-size:42px;
margin-bottom:15px;

}

footer p{

font-size:18px;

}